{% extends 'Base.html' %}
{% load static %}
{% block content %}


<div style="display: flex; flex-direction: row; flex-wrap: wrap">


    <div class="card" style="width: 18rem; margin: 10px">
        <img src="{% static 'images/iron1.jpg' %} " class="card-img-top">
        <div class="card-body">
            <div style="display: flex; flex-direction: row">
                <h5 class="card-title">Single clubs</h5>

            </div>
            <p class="card-text">This displays a list of single clubs to buy.</p>
            <a href="{% url 'ProductListClubs' %}" class="btn btn-info" role="button">View all single clubs</a>   
        </div>
    </div>

    <div class="card" style="width: 18rem; margin: 10px">
        <img src="{% static 'images/clubset4.jpg' %} " class="card-img-top">
        <div class="card-body">
            <div style="display: flex; flex-direction: row">
                <h5 class="card-title">Club sets</h5>

            </div>
            <p class="card-text">This displays club sets to buy.</p>
            <a href="{% url 'ProductListClubSet' %}" class="btn btn-info" role="button">View all sets of clubs</a>   
   
        </div>
    </div>

    <div class="card" style="width: 18rem; margin: 10px">
        <img src="{% static 'images/shop.jpg' %} " class="card-img-top">
        <div class="card-body">
            <div style="display: flex; flex-direction: row">
                <h5 class="card-title">Accessories</h5>

            </div>
            <p class="card-text">This will display a list of accessories to buy.</p>
            <a href="{% url 'ProductListAccess' %}" class="btn btn-info" role="button">View all accessories</a>   
   
        </div>
    </div>

</div>



{% endblock %}