{% extends 'Base.html' %}
 
{% block content %}

{% load crispy_forms_tags %}

<div class="jumbotron container row">
    {% include 'Messages.html' %}
    <h1>Order form</h1>
    <div class="col-lg-6">
        <div class="card card-body">
           <form action="" method="POST" enctype="multipart/form-data">
            <input  type="hidden" name="productID" value="{{product.id}}">
            {% csrf_token %}
                {{form|crispy}}
                {{PlaceOrder|crispy}}
                <br>
                <input type="submit" name="submit">
             </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}