{% extends 'Base.html' %}
{% load static %}

{% block bubbly_fun %}

{% endblock %}


{% block content %}

<!--display a single product from ProductList.html-->

<a href="{% url 'ProductListClubs' %}" class="btn btn-outline-info" style="margin:5px" role="button">Back</a>
<br>
<div class="container bg-warning text-white  text-center p-5">
    <h1>Club details</h1>
</div>
<div class="container bg-success text-white  text-center p-5">
    <img src="{{club.club_image.url}}" class="card-img-top" style="width: 11rem" alt="golf club">
    <h1 class="text-dark">Name: <b>{{club.club_name}}</b></h1>
    <br>
    <p>Brand: {{club.get_club_brand_display}}</p>
    <p>Type: {{club.get_club_type_display}}</p>
    <p>Price: £{{club.club_price}}</p>
    <p>Size: {{club.get_club_size_display}}</p>
    <p>Grip direction: {{club.get_club_gripDirection_display}}</p>
    <p>Gender: {{club.get_club_gender_display}}</p>
    
    <p>Stock condition: {{club.get_club_stockCondition_display}}</p>
    <p>Description: {{club.club_summary | capfirst}}</p>
</div>
<br><br>
{% endblock %}






